{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "react/prefer-stateless-function": [0],
    "react/jsx-indent-props": [0],
    "jsx-quotes": [2, "prefer-double"]
  }
}
