@import '../variables.scss';

.SubDumbComponent {
  background: $primary-color;

  &__title {
    color: $white;
  }

  &__content {
    background: $black;
    color: $white;
    margin: 15px;
  }
}
